extends layout

block page_title
  title مرحبا بالعالم!

block greeting
  h1 مرحبا بالعالم!

block software_engineer
  p سنة جديدة سعيدة
  img(src="/images/earth.jpg"
      alt="كوكب الأرض"
      title="كوكب الأرض")


